extends layout

block content
    #banner.page-header
        .row
            .col-md-6.col-sm-12
                h1= title
    .row
        .col-md-6.col-sm-12
            p Loc8r was created to help people find places to sit down and get a work done
            <br /><br />
            p This is created by Sharan for practicing MEAN STACK with jade
